.sha-index-table-controls {
  background: white;

  .flexCenterAlignedSpaceBetween();
  padding: 0 @padding-lg;
  min-height: @sha-page-heading-height;
  max-height: @sha-page-heading-height;
  border-top: @sha-border;

  .index-table-controls-left {
  }
  .index-table-controls-right {
    .flexCenterAligned();

    button {
      &.extra-btn {
        padding-left: @padding-lg;
        margin-right: @padding-lg;

        &.export {
          margin-right: @padding-lg * 2;
        }
      }
    }
  }
}
