.ant-menu-item {
  &:hover {
    color: white;
    background-color: @primary-color !important;
  }
}

.ant-menu-submenu {
  &:hover {
    color: white;
    background-color: @primary-color !important;
  }

  &.ant-menu-submenu-selected {
    background-color: @primary-color;
  }
}
